.o_ThreadViewTopbar {
    // Only keep styles that are specific to our use case and not covered by Odoo's classes
    .o_ThreadViewTopbar_threadDescription {
        display: inline-flex;
        align-items: center;
        font-size: 13px;
        color: $gray-600;
        
        @include media-breakpoint-down(sm) {
            font-size: 12px;
        }
    }
}