.o_MessageList {
    // Streaming message
    &_streamingMessage {
        .o_Message {
            &.o_MessageList_message {
                padding: 1rem;
                margin: 0.5rem 1rem;
                border-radius: 0.5rem;
                background-color: $o-view-background-color;

                .o_Message_authorAvatarContainer {
                    width: 32px;
                    height: 32px;
                    margin-right: 1rem;
                }

                .o_Message_content {
                    flex: 1;
                    min-width: 0;
                }

                .o_Message_header {
                    margin-bottom: 0.25rem;
                }

                .o_Message_body {
                    white-space: pre-wrap;
                    word-wrap: break-word;
                }
            }
        }
    }
}